.jumbotron{
	padding: 30px;
	position: relative;
	top: 100px;
	opacity: 0.85;
}
.nav-color{
	background-color: transparent;

}

#fontColor{
	color: #f7e1b5;
}

.em-text{
	color: white !important;
}
/*.navig ul li a{
	color: white !important;
}
.navig ul li a:hover{
	color: white !important;
}
*/
.student-bg{
	background: url(../images/lib2.jpg) repeat-x center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.teacher-bg{
	background: url(../images/teacher.jpg) repeat-x center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


