<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hidden-xs" href="#">Student Teacher Portal</a>
            <a class="navbar-brand visible-xs hidden-md" href="#">STP</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <a href="#" class="btn btn-danger btn-raised">Logout</a>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="hidden-xs col-sm-3 col-md-2 sidebar">
            <stp-side-bar></stp-side-bar>
        </div>
        <div class="col-sm-9 col-md-10 main">
            <stp-download-panel></stp-download-panel>
<!--
            <nav class="pull-right">
                <ul class="pagination">
                    <li>
                        <a  aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li><a >1</a></li>
                    <li><a >2</a></li>
                    <li><a >3</a></li>
                    <li><a >4</a></li>
                    <li><a >5</a></li>
                    <li>
                        <a aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
-->
        </div>
    </div>
</div>