<!--<div class="row">-->
    <!--<div class="col-xs-12">-->
        <!--<div class="jumbotron jumb">-->
            <ul class="nav nav-tabs nav-justified">
                <li role="presentation" ng-class="{ active: value === 1 || value === 3}"><a href="#/" ng-click="value = 1">Student </a>
                </li>
                <li role="presentation" ng-class="{ active: value === 2}"><a href="#/teacher-login" ng-click="value = 2">Teacher </a>
                </li>
            </ul>
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
