<div id="sideMenu">
    <ul class="panel nav nav-sidebar" >
        <li><a class="active" data-toggle="collapse" data-target="#APMenu" data-parent="#sideMenu">
            Architecture and Planning
            <span class="sr-only">(current)</span></a></li>
        <div id="APMenu" class="sublinks collapse">
            <div id=APcollapse>
                <ul class="panel nav nav-sidebar">
                    <li><a data-toggle="collapse" data-target="#APFall" data-parent=#APcollapse  >Fall</a></li>
                    <div id="APFall" class="sublinks collapse">
                        <ul class="nav nav-sidebar">
                            <li><a href="" class="small">1<sup>st</sup></a></li>
                            <li><a  class="small">2<sup>nd</sup></a></li>
                            <li><a  class="small">3<sup>rd</sup></a></li>
                            <li><a  class="small">4<sup>th</sup></a></li>
                        </ul>
                    </div>
                    <li><a data-toggle="collapse" data-target="#APSpring" data-parent=#APcollapse >Spring</a></li>
                    <div id="APSpring" class="sublinks collapse">
                        <ul class="nav nav-sidebar">
                            <li><a  class="small">1st</a></li>
                            <li><a  class="small">2nd</a></li>
                            <li><a  class="small">3rd</a></li>
                            <li><a  class="small">4th</a></li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>

        <li><a class="active" data-toggle="collapse" data-target="#collTwo" data-parent="#sideMenu">
            Chemical Engg.
            <span class="sr-only">(current)</span></a></li>
        <div id="collTwo" class="sublinks collapse">
            <div id="subColl2">
                <ul class=" panel nav nav-sidebar">
                    <li><a data-toggle="collapse" data-target="#subCollThree" data-parent="#subColl2" >Fall</a></li>
                    <div id="subCollThree" class="sublinks collapse">
                        <ul class="nav nav-sidebar">
                            <li><a  class="small">1st</a></li>
                            <li><a  class="small">2nd</a></li>
                            <li><a  class="small">3rd</a></li>
                            <li><a  class="small">4th</a></li>
                        </ul>
                    </div>
                    <li><a data-toggle="collapse" data-target="#subCollFour" data-parent="#subColl2" >Spring</a></li>
                    <div id="subCollFour" class="sublinks collapse">
                        <ul class="nav nav-sidebar">
                            <li><a  class="small">1st</a></li>
                            <li><a  class="small">2nd</a></li>
                            <li><a  class="small">3rd</a></li>
                            <li><a  class="small">4th</a></li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>

        <li><a class="active" data-toggle="collapse" data-target="#collThree" data-parent="#sideMenu">
            Computer System Engg.
            <span class="sr-only">(current)</span></a></li>
        <div id="collThree" class="sublinks collapse">
            <div id="subColl3">
                <ul class=" panel nav nav-sidebar">
                    <li><a data-toggle="collapse" data-target="#subCollFive" data-parent="#subColl3" >Fall</a></li>
                    <div id="subCollFive" class="sublinks collapse">
                        <ul class="nav nav-sidebar">
                            <li><a  class="small">1st</a></li>
                            <li><a  class="small">2nd</a></li>
                            <li><a  class="small">3rd</a></li>
                            <li><a  class="small">4th</a></li>
                        </ul>
                    </div>
                    <li><a data-toggle="collapse" data-target="#subCollSix" data-parent="#subColl3" >Spring</a></li>
                    <div id="subCollSix" class="sublinks collapse">
                        <ul class="nav nav-sidebar">
                            <li><a  class="small">1st</a></li>
                            <li><a  class="small">2nd</a></li>
                            <li><a  class="small">3rd</a></li>
                            <li><a  class="small">4th</a></li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>

        <li><a class="active" data-toggle="collapse" data-target="#collFour" data-parent="#sideMenu">
            Electronics Engg.
            <span class="sr-only">(current)</span></a></li>
        <div id="collFour" class="sublinks collapse">
            <div id="subColl4">
                <ul class=" panel nav nav-sidebar">
                    <li><a data-toggle="collapse" data-target="#subCollSeven" data-parent="#subColl4" >Fall</a></li>
                    <div id="subCollSeven" class="sublinks collapse">
                        <ul class="nav nav-sidebar">
                            <li><a  class="small">1st</a></li>
                            <li><a  class="small">2nd</a></li>
                            <li><a  class="small">3rd</a></li>
                            <li><a  class="small">4th</a></li>
                        </ul>
                    </div>
                    <li><a data-toggle="collapse" data-target="#subCollEight" data-parent="#subColl4" >Spring</a></li>
                    <div id="subCollEight" class="sublinks collapse">
                        <ul class="nav nav-sidebar">
                            <li><a  class="small">1st</a></li>
                            <li><a  class="small">2nd</a></li>
                            <li><a  class="small">3rd</a></li>
                            <li><a  class="small">4th</a></li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>

        <li><a class="active" data-toggle="collapse" data-target="#collFive" data-parent="#sideMenu">
            Energy & Environment Engg.
            <span class="sr-only">(current)</span></a></li>
        <div id="collFive" class="sublinks collapse">
            <div id="subColl5">
                <ul class=" panel nav nav-sidebar">
                    <li><a data-toggle="collapse" data-target="#subCollNine" data-parent="#subColl5" >Fall</a></li>
                    <div id="subCollNine" class="sublinks collapse">
                        <ul class="nav nav-sidebar">
                            <li><a  class="small">1st</a></li>
                            <li><a  class="small">2nd</a></li>
                            <li><a  class="small">3rd</a></li>
                            <li><a  class="small">4th</a></li>
                        </ul>
                    </div>
                    <li><a data-toggle="collapse" data-target="#subCollTen" data-parent="#subColl5" >Spring</a></li>
                    <div id="subCollTen" class="sublinks collapse">
                        <ul class="nav nav-sidebar">
                            <li><a  class="small">1st</a></li>
                            <li><a  class="small">2nd</a></li>
                            <li><a  class="small">3rd</a></li>
                            <li><a  class="small">4th</a></li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>

        <li><a class="active" data-toggle="collapse" data-target="#collSix" data-parent="#sideMenu">
            Industrial Engg. & Management
            <span class="sr-only">(current)</span></a></li>
        <div id="collSix" class="sublinks collapse">
            <div id="subColl6">
                <ul class=" panel nav nav-sidebar">
                    <li><a data-toggle="collapse" data-target="#subCollEleven" data-parent="#subColl6" >Fall</a></li>
                    <div id="subCollEleven" class="sublinks collapse">
                        <ul class="nav nav-sidebar">
                            <li><a  class="small">1st</a></li>
                            <li><a  class="small">2nd</a></li>
                            <li><a  class="small">3rd</a></li>
                            <li><a  class="small">4th</a></li>
                        </ul>
                    </div>
                    <li><a data-toggle="collapse" data-target="#subCollTwelve" data-parent="#subColl6" >Spring</a></li>
                    <div id="subCollTwelve" class="sublinks collapse">
                        <ul class="nav nav-sidebar">
                            <li><a  class="small">1st</a></li>
                            <li><a  class="small">2nd</a></li>
                            <li><a  class="small">3rd</a></li>
                            <li><a  class="small">4th</a></li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>

        <li><a class="active" data-toggle="collapse" data-target="#collSeven" data-parent="#sideMenu">
            Materials & Management Engg.
            <span class="sr-only">(current)</span></a></li>
        <div id="collSeven" class="sublinks collapse">
            <div id="subColl7">
                <ul class=" panel nav nav-sidebar">
                    <li><a data-toggle="collapse" data-target="#subCollThirteen" data-parent="#subColl7" >Fall</a></li>
                    <div id="subCollThirteen" class="sublinks collapse">
                        <ul class="nav nav-sidebar">
                            <li><a  class="small">1st</a></li>
                            <li><a  class="small">2nd</a></li>
                            <li><a  class="small">3rd</a></li>
                            <li><a  class="small">4th</a></li>
                        </ul>
                    </div>
                    <li><a data-toggle="collapse" data-target="#subCollFourteen" data-parent="#subColl7" >Spring</a></li>
                    <div id="subCollFourteen" class="sublinks collapse">
                        <ul class="nav nav-sidebar">
                            <li><a  class="small">1st</a></li>
                            <li><a  class="small">2nd</a></li>
                            <li><a  class="small">3rd</a></li>
                            <li><a  class="small">4th</a></li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>

        <li><a class="active" data-toggle="collapse" data-target="#collEight" data-parent="#sideMenu">
            Petroleum & Gas Engg.
            <span class="sr-only">(current)</span></a></li>
        <div id="collEight" class="sublinks collapse">
            <div id="subColl8">
                <ul class=" panel nav nav-sidebar">
                    <li><a data-toggle="collapse" data-target="#subCollFifteen" data-parent="#subColl8" >Fall</a></li>
                    <div id="subCollFifteen" class="sublinks collapse">
                        <ul class="nav nav-sidebar">
                            <li><a  class="small">1st</a></li>
                            <li><a  class="small">2nd</a></li>
                            <li><a  class="small">3rd</a></li>
                            <li><a  class="small">4th</a></li>
                        </ul>
                    </div>
                    <li><a data-toggle="collapse" data-target="#subCollSixteen" data-parent="#subColl8" >Spring</a></li>
                    <div id="subCollSixteen" class="sublinks collapse">
                        <ul class="nav nav-sidebar">
                            <li><a  class="small">1st</a></li>
                            <li><a  class="small">2nd</a></li>
                            <li><a  class="small">3rd</a></li>
                            <li><a  class="small">4th</a></li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>

        <li><a class="active" data-toggle="collapse" data-target="#collNine" data-parent="#sideMenu">
            Telecom Engg.
            <span class="sr-only">(current)</span></a></li>
        <div id="collNine" class="sublinks collapse">
            <div id="subColl9">
                <ul class=" panel nav nav-sidebar">
                    <li><a data-toggle="collapse" data-target="#subCollSeventeen" data-parent="#subColl9" >Fall</a></li>
                    <div id="subCollSeventeen" class="sublinks collapse">
                        <ul class="nav nav-sidebar">
                            <li><a  class="small">1st</a></li>
                            <li><a  class="small">2nd</a></li>
                            <li><a  class="small">3rd</a></li>
                            <li><a  class="small">4th</a></li>
                        </ul>
                    </div>
                    <li><a data-toggle="collapse" data-target="#subCollEighteen" data-parent="#subColl9" >Spring</a></li>
                    <div id="subCollEighteen" class="sublinks collapse">
                        <ul class="nav nav-sidebar">
                            <li><a  class="small">1st</a></li>
                            <li><a  class="small">2nd</a></li>
                            <li><a  class="small">3rd</a></li>
                            <li><a  class="small">4th</a></li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>
    </ul>
</div>
