<header>
    <nav class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand em-text navbar-left" href="#/" ng-click="tab = 1">Dawood University of Engineering and Technology</a>

            </div>
        </div>
    </nav>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
            <div class="jumbotron jumb">
                <ul class="nav nav-tabs nav-justified">
                    <li role="presentation" ng-class="{ active: value === 1 || value === 3}"><a href="#/" ng-click="value = 1">Student </a>
                    </li>
                    <li role="presentation" ng-class="{ active: value === 2}"><a href="#/teacher-login" ng-click="value = 2">Teacher {{ value }}</a>
                    </li>
                </ul>
                <div class="clearfix"></div>
                <p>This is how we forget</p>
                <div>
                    <form class="form" role="form" id="forgotForm" name="forgotForm" novalidate>
                    <br />
                         <select>
                             <option value="0"></option>
                             <option value="1">Your Name</option>
                             <option value="2">Your Email</option>
                             <option value="3">Your Password</option>
                             <option value="4">Your Blah Blah Blah</option>
                             <option value="5">More Blah Blah Blah</option>
                         </select>
                        <input type="text">
                    </form>
<footer>
    <nav class="nav navbar-fixed-bottom navbar-right nav-color">
        <div class="container">
            <div class="navbar-header navbar-right">
                <a class="navbar-brand em-text navbar-right" href="#/" ng-click="tab = 1"><span id = "fontColor">STAK Developers</span></a>

            </div>
        </div>
    </nav>
</footer>