<header>
    <nav class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand em-text navbar-left" href="#/" ng-click="tab = 1">Dawood University of Engineering and Technology</a>

            </div>
        </div>
    </nav>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
            <div class="jumbotron jumb">
                <ul class="nav nav-tabs nav-justified">
                <li role="presentation" ng-class="{ active: value === 1 || value === 3}"><a href="#/" ng-click="value = 1">Student </a>
                </li>
                <li role="presentation" ng-class="{ active: value === 2}"><a href="#/teacher-login" ng-click="value = 2">Teacher </a>
                </li>
                </ul>
                <div>
                    <form class="form" role="form" id="studentLogin" name="studentLogin">
                        <br>
                        <div class="form-group has-feedback"
                             ng-class="{'has-error': studentLogin.loginRollNo.$touched && studentLogin.loginRollNo.$invalid, 'has-success': studentLogin.loginRollNo.$valid}"
                        >
                            <input type="text"
                                   class="form-control"
                                   id="rollNoField"
                                   name="loginRollNo"
                                   placeholder="Roll Number"
                                   required
                                   ng-pattern="/^[D]{1}-[0-9]{2}-[A-Z]{2}-[0-9]{2,3}$/"
                                   ng-model="studentRollNo"
                            >
<span  class="glyphicon form-control-feedback glyphicon-user" ng-class="{ 'glyphicon-ok': studentLogin.loginRollNo.$valid,
                                                    'glyphicon-remove': studentLogin.loginRollNo.$touched && studentLogin.loginRollNo.$invalid
                                                 }"
       aria-hidden="true"></span>
<span class="help-block"
      ng-show="studentLogin.loginRollNo.$dirty && studentLogin.loginRollNo.$touched && studentLogin.loginRollNo.$invalid"
>
Please enter Roll No. in correct format. (eg. D-14-CS-00 or D-14-CS-000)
</span>
                        </div>
                        <div class="form-group has-feedback"
                             ng-class="{'has-error': studentLogin.studentLoginPassword.$touched && studentLogin.studentLoginPassword.$invalid, 'has-success': studentLogin.studentLoginPassword.$valid}"
                        >
                            <input type="password"
                                   class="form-control"
                                   id="passwordField"
                                   name="studentLoginPassword"
                                   placeholder="Password"
                                   required
                                ng-model="studentLoginPassword"
                                   ng-minlength="8"
                                   ng-maxlength=""
                            >
<span  class="glyphicon form-control-feedback" ng-class="{ 'glyphicon-ok': studentLogin.studentLoginPassword.$valid,
                                                    }"
       aria-hidden="true"></span>
<span  class="glyphicon form-control-feedback glyphicon-lock" ng-hide="studentLogin.studentLoginPassword.$valid"
           aria-hidden="true"></span>
<span class="help-block"
      ng-show="studentLogin.studentLoginPassword.$touched && studentLogin.studentLoginPassword.$invalid"
>
Please enter your password.
</span>
                        </div>
                        <h4 style="border-radius: 20px; margin: 15px 15px" class="{{cls}}">{{msg}}</h4>
                        <a href=""><button type="button" class="btn btn-primary btn-md btn-block" ng-click="login()" ng-disabled="studentLogin.$invalid"><strong>Sign In</strong></button></a>
                        <h4 class="text-center">Not a member?  <a href="#/signup-student">Join now.</a></h4>
                        <h5 class="text-center"><a href="#/forgot">Forgot Password?</a></h5>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



<footer>
    <nav class="nav navbar-fixed-bottom navbar-right nav-color">
        <div class="container">
            <div class="navbar-header navbar-right">
                <a class="navbar-brand em-text navbar-right" href="#/" ng-click="tab = 1"><span id = "fontColor">STAK Developers</span></a>

            </div>
        </div>
    </nav>
</footer>