<header>
    <nav class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand em-text navbar-left" href="#/" ng-click="tab = 1">Dawood University of Engineering and Technology</a>

            </div>
        </div>
    </nav>
</header>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-6 col-xs-offset-3">
            <div class="jumbotron jumb">
                <ul class="nav nav-tabs nav-justified" ng-init="tab = 1">
                    <li role="presentation" ng-class="{ active: tab === 1}"><a href="#/" ng-click="tab = 1">Student</a>
                    </li>
                    <li role="presentation" ng-class="{ active: tab === 2}"><a href="#/teacher-login" ng-click="tab = 2">Teacher</a>
                    </li>
                </ul>
                <div>
                    <form class="form" role="form" id="studentLogin" name="studentLogin">
                        <br>
                        <div class="form-group has-feedback"
                             ng-class="{'has-error': studentLogin.loginStudentEmail.$touched && studentLogin.loginStudentEmail.$invalid, 'has-success': studentLogin.loginStudentEmail.$valid}"
                        >
                            <input type="email"
                                   class="form-control"
                                   id="emailField"
                                   name="loginStudentEmail"
                                   placeholder="Email address"
                                   required
                                   ng-model="studentLoginEmail"
                                   ng-model-options="{ updateOn: 'blur' }"

                            >
        <span  class="glyphicon form-control-feedback" ng-class="{ 'glyphicon-ok': studentLogin.loginStudentEmail.$valid,
                                                                    'glyphicon-remove': studentLogin.loginStudentEmail.$touched && studentLogin.loginStudentEmail.$invalid
                                                                 }"
               aria-hidden="true"></span>
        <span class="help-block"
              ng-show="studentLogin.loginStudentEmail.$dirty && studentLogin.loginStudentEmail.$invalid"
        >
            Please enter your email.
        </span>
                        </div>
                        <div class="form-group has-feedback"
                             ng-class="{'has-error': studentLogin.studentLoginPassword.$touched && studentLogin.studentLoginPassword.$invalid, 'has-success': studentLogin.studentLoginPassword.$valid}"
                        >
                            <input type="password"
                                   class="form-control"
                                   id="passwordField"
                                   name="studentLoginPassword"
                                   placeholder="Password"
                                   required
                                   ng-model="studentLoginPassword"
                                   ng-minlength="8"
                                   ng-maxlength="32"
                            >
        <span  class="glyphicon form-control-feedback" ng-class="{ 'glyphicon-ok': studentLogin.studentLoginPassword.$valid,
                                                                    'glyphicon-remove': studentLogin.studentLoginPassword.$touched && studentLogin.studentLoginPassword.$invalid
                                                                 }"
               aria-hidden="true"></span>
        <span class="help-block"
              ng-show="studentLogin.studentLoginPassword.$touched && studentLogin.studentLoginPassword.$invalid"
        >
            Please enter your password.
        </span>
                        </div>

                        <a href="#/dashboard-student"><button type="button" class="btn btn-primary btn-md btn-block" ng-disabled="studentLogin.$invalid"><strong>Sign In</strong></button></a>
                        <h4 class="text-center">Not a member?  <a href="#/signup-student">Join now.</a></h4>
                        <h5 class="text-center"><a href="#/">Forgot Password?</a></h5>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>

<footer>
    <nav class="nav navbar-fixed-bottom navbar-right nav-color">
        <div class="container">
            <div class="navbar-header navbar-right">
                <a class="navbar-brand em-text navbar-right" href="#/" ng-click="tab = 1"><span id = "fontColor">STAK Developers</span></a>

            </div>
        </div>
    </nav>
</footer>
