<form class="form" role="form" id="teacherForm" name="teacherForm" novalidate>
   <br>
    <div class="form-group has-feedback"
         ng-class="{'has-error': teacherForm.teacherEmail.$touched && teacherForm.teacherEmail.$invalid, 'has-success': teacherForm.teacherEmail.$valid}"
    >
        <input type="email"
               id="emailField"
               name="teacherEmail"
               class="form-control"
               placeholder="Email address"
               required
               ng-model="teacherEmail"
               ng-model-options="{ updateOn: 'blur' }"
        >
    <span  class="glyphicon form-control-feedback" ng-class="{ 'glyphicon-ok': teacherForm.teacherEmail.$valid,
                                                                'glyphicon-remove': teacherForm.teacherEmail.$touched && teacherForm.teacherEmail.$invalid
                                                             }"
           aria-hidden="true"></span>
    <span class="help-block"
          ng-show="teacherForm.teacherEmail.$dirty && teacherForm.teacherEmail.$invalid"
    >
        Please enter your email.
    </span>
    </div>
    <div class="form-group has-feedback"
         ng-class="{'has-error': teacherForm.teacherPassword.$touched && teacherForm.teacherPassword.$invalid, 'has-success': teacherForm.teacherPassword.$valid}"
    >
        <input type="password"
               id="passwordField"
               name="teacherPassword"
               class="form-control"
               placeholder="Password"
               required
               ng-model="teacherPassword"
               ng-minlength="8"
               ng-maxlength="32"

        >
        <span  class="glyphicon form-control-feedback" ng-class="{ 'glyphicon-ok': teacherForm.teacherPassword.$valid,
                                                                'glyphicon-remove': teacherForm.teacherPassword.$touched && teacherForm.teacherPassword.$invalid
                                                             }"
                aria-hidden="true"></span>
    <span class="help-block"
          ng-show="teacherForm.teacherPassword.$dirty && teacherForm.teacherPassword.$invalid"
    >
        Please enter your password.
    </span>
    </div>
    <button type="button" class="btn btn-primary btn-md btn-block" ng-disabled="teacherForm.$invalid"><strong>Sign In</strong></button>
    <h5 class="text-center"><a href="#">Forgot Password?</a></h5>
</form>
