<form class="form">
    <div class="form-group">
        <br>
        <input type="email" class="form-control" id="emailField" placeholder="Email address" ng-model="email">
        <br>
        <input type="password" class="form-control" id="passwordField" placeholder="Password" ng-model="password">
        <br>
        <button type="button" class="btn btn-primary btn-md btn-block" ng-click="s_response()"><strong>Sign In</strong></button>
        <h4 class="text-center">Not a member?  <a href="#/signup-student">Join now.</a></h4>
        <h5 class="text-center"><a href="#/">Forgot Password?</a></h5>
    </div>
</form>